{%load static%}
<html>
    <head>
    </head>
    <body>
        {% csrf_token %}

        <div>
            {% for post in posts %}
                <h1>{{ post.titulo}}</h1>
                <h1> {{ post.conteudo|linebreaks }} </h1>
                <h1>---------------------------------</h1>
            {% endfor %}
        </div>

        {% comment %} <div>
            <h1>Lideres em Pontos por Jogo na temporada</h1>
            <h3>Primeiro Lugar: {{ jogador.0 }} - {{ jogador.1 }} Pontos por Jogo</h3>
            <h3>Segundo Lugar: {{ jogador1.0 }} - {{ jogador1.1 }} Pontos por Jogo</h3>
            <h3>Terceiro Lugar: {{ jogador2.0 }} - {{ jogador2.1 }} Pontos por Jogo</h3>
            <h3>Quarto Lugar: {{ jogador3.0 }} - {{ jogador3.1 }} Pontos por Jogo</h3>
            <h3>Quinto Lugar: {{ jogador4.0 }} - {{ jogador4.1 }} Pontos por Jogo</h3>
        </div>

        <div>
            <h1> Lideres em Rebotes por jogo na temporada</h1>
            <h3>Primeiro Lugar: {{ jogador_reb.0 }} - {{ jogador_reb.1 }} Rebotes por jogo</h3>
            <h3>Segundo Lugar: {{ jogador_reb1.0 }} - {{ jogador_reb1.1 }} Rebotes por jogo</h3>
            <h3>Terceiro Lugar: {{ jogador_reb2.0 }} - {{ jogador_reb2.1 }} Rebotes por jogo</h3>
            <h3>Quarto Lugar: {{ jogador_reb3.0 }} - {{ jogador_reb3.1 }} Rebotes por jogo</h3>
            <h3>Quinto Lugar: {{ jogador_reb4.0 }} - {{ jogador_reb4.1 }} Rebotes por jogo</h3>
        </div>

        <div>
            <h1> Lideres em Assistencias por jogo na temporada</h1>
            <h3>Primeiro Lugar: {{ jogador_assist.0 }} - {{ jogador_assist.1 }} Assistencias por jogo</h3>
            <h3>Segundo Lugar: {{ jogador_assist1.0 }} - {{ jogador_assist1.1 }} Assistencias por jogo</h3>
            <h3>Terceiro Lugar: {{ jogador_assist2.0 }} - {{ jogador_assist2.1 }} Assistencias por jogo</h3>
            <h3>Quarto Lugar: {{ jogador_assist3.0 }} - {{ jogador_assist3.1 }} Assistencias por jogo</h3>
            <h3>Quinto Lugar: {{ jogador_assist4.0 }} - {{ jogador_assist4.1 }} Assistencias por jogo</h3>
        </div>

        <div>
            <h1> Lideres em Roubos de bola por jogo na temporada</h1>
            <h3>Primeiro Lugar: {{ jogador_steal.0 }} - {{ jogador_steal.1 }} Roubos de bola por jogo</h3>
            <h3>Segundo Lugar: {{ jogador_steal1.0 }} - {{ jogador_steal1.1 }} Roubos de bola por jogo</h3>
            <h3>Terceiro Lugar: {{ jogador_steal2.0 }} - {{ jogador_steal2.1 }} Roubos de bola por jogo</h3>
            <h3>Quarto Lugar: {{ jogador_steal3.0 }} - {{ jogador_steal3.1 }} Roubos de bola por jogo</h3>
            <h3>Quinto Lugar: {{ jogador_steal4.0 }} - {{ jogador_steal4.1 }} Roubos de bola por jogo</h3>
        </div>

        <div>
            <h1> Lideres em Tocos por jogo na temporada</h1>
            <h3>Primeiro Lugar: {{ jogador_toco.0 }} - {{ jogador_toco.1 }} tocos por jogo</h3>
            <h3>Segundo Lugar: {{ jogador_toco1.0 }} - {{ jogador_toco1.1 }} tocos por jogo</h3>
            <h3>Terceiro Lugar: {{ jogador_toco2.0 }} - {{ jogador_toco2.1 }} tocos por jogo</h3>
            <h3>Quarto Lugar: {{ jogador_toco3.0 }} - {{ jogador_toco3.1 }} tocos por jogo</h3>
            <h3>Quinto Lugar: {{ jogador_toco4.0 }} - {{ jogador_toco4.1 }} tocos por jogo</h3>
        </div> {% endcomment %}

    </body>
</html>