{%load static%}
<html>
    <head>
    </head>
    <body>
        {% csrf_token %}
        <h1>Lideres em Pontos por Jogo na temporada</h1>
        <div>
            <h3>Primeiro Lugar: {{ jogador.0 }} - {{ jogador.1 }} Pontos por Jogo</h3>

            <h3>Segundo Lugar: {{ jogador1.0 }} - {{ jogador1.1 }} Pontos por Jogo</h3>

            <h3>Terceiro Lugar: {{ jogador2.0 }} - {{ jogador2.1 }} Pontos por Jogo</h3>

            <h3>Quarto Lugar: {{ jogador3.0 }} - {{ jogador3.1 }} Pontos por Jogo</h3>

            <h3>Quinto Lugar: {{ jogador4.0 }} - {{ jogador4.1 }} Pontos por Jogo</h3>
        </div>

        <h1> Lideres em Rebotes por jogo na temporada</h1>
        <div>
            <h3>Primeiro Lugar: {{ jogador_reb.0 }} - {{ jogador_reb.1 }} Rebotes por jogo</h3>
            <h3>Segundo Lugar: {{ jogador_reb1.0 }} - {{ jogador_reb1.1 }} Rebotes por jogo</h3>
            <h3>Terceiro Lugar: {{ jogador_reb2.0 }} - {{ jogador_reb2.1 }} Rebotes por jogo</h3>
            <h3>Quarto Lugar: {{ jogador_reb3.0 }} - {{ jogador_reb3.1 }} Rebotes por jogo</h3>
            <h3>Quinto Lugar: {{ jogador_reb4.0 }} - {{ jogador_reb4.1 }} Rebotes por jogo</h3>
    </body>
</html>