<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/javascript.js"></script>
</head>
<body>

  {% csrf_token %}
    
    <header>      
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">STATS NBA 2024</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                </ul>
                <span class="navbar-text">
                  Navbar text with an inline element
                </span>
              </div>
            </div>
          </nav>
    </header>
    <main >
        <div class="background">
            <div class="blur-backgroun"></div>
            <div class="sidebar">
              <h2>NBA 2024</h2>
              <a href="#">ULTIMAS NOTICIAS</a>
              <a href="#">SOBRE NÓS</a>
              <a href="#">GITHUB</a>
              <a href="#">API</a>
            </div>

            {% for post in posts %}
        
            <div class="content">
               <H1> {{ post.titulo }}</H1>
               <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">JOGADOR</th>
                    <th scope="col">MEDIA DE PONTOS</th>
                    <th scope="col">MAIS INFORMAÇÕES</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row">1</th>
                    <td>{{post.conteudo|linebreaks}}</td>
                    <!-- <td>{{post.conteudo}}</td> -->
                    <td><a href="/luka.html" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Info</a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Kevin Durant</td>
                    <td>65.00</td>
                    <td><a href="/luka.html" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Info</a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>55.00</td>
                    <td><a href="/luka.html" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Info</a></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Cristian Suzuki</td>
                    <td>32.00</td>
                    <td><a href="/luka.html" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Info</a></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Kobe</td>
                    <td>30.00</td>
                    <td><a href="/luka.html" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Info</a></td>
                  </tr>
                </tbody>
              </table>
              {% endfor %}
            </div>
          </div>


    </main>

</body>
</html>